@import "init";

#entry-editor {
    margin: 0;
    padding: 0;

    textarea {
        width: 100%;
        height: 30em;
    }

    .buttons {
        text-align: right;

        input {
            width: 10em;
        }
    }
}

#entries-table {
    width: 100%;

    .date {
        width: 10%;
    }

    .operation {
        text-align: center;
        width: 10%;
    }
}
