* {
  margin: 0;
  padding: 0; }

#container {
  width: 720px;
  margin: 0 auto; }

h1, h2, h3, h4, h5, h6 {
  font-size: 16px; }

#container {
  border: solid 1px #CCC;
  border-width: 0px 1px; }

#header {
  color: #FFF;
  position: relative; }
  #header h1 {
    padding: 0.5em; }
  #header h1 a {
    color: #FFF;
    text-decoration: none; }

#main {
  background-color: #FFF;
  padding: 0 1.6em; }
  #main ul.notice {
    margin: 1em 0;
    padding: 0.5em;
    border: solid 1px; }
  #main ul.notice.success {
    border-color: #090;
    color: #090;
    background-color: #EFE;
    list-style-type: none;
    text-align: center; }
  #main ul.notice.error {
    border-color: #900;
    color: #900;
    background-color: #FEE; }
    #main ul.notice.error li {
      margin-left: 1.5em; }

#footer {
  text-align: center;
  background-color: #CCC; }
  #footer p {
    font-size: 80%;
    padding: 0.5em; }

body {
  background-color: #EEE;
  line-height: 1.4; }
  body input.submit-button {
    width: 10em !important; }

#header {
  background-color: #666; }
  #header h1 a {
    color: #FC0; }

#entry-editor {
  margin: 0;
  padding: 0; }
  #entry-editor textarea {
    width: 100%;
    height: 30em; }
  #entry-editor .buttons {
    text-align: right; }
    #entry-editor .buttons input {
      width: 10em; }

#entries-table {
  width: 100%; }
  #entries-table .date {
    width: 20%; }
  #entries-table .operation {
    text-align: center;
    width: 20%; }

#main {
  font-size: 80%;
  padding-top: 1em;
  padding-bottom: 2em; }

#entries-table {
  border-collapse: collapse;
  border: solid 1px #999;
  margin: 0.5em 0 2em; }
  #entries-table th {
    background-color: #DDD;
    border: solid 1px #999; }
  #entries-table td {
    background-color: #EEE;
    border: solid 1px #999;
    padding: 0 0.5em; }
  #entries-table td.action {
    text-align: center; }
