@import "day";
@import "frame";

#header {
    background-color: #039;
}

.navigation {
    margin: 0 -1.6em;
    padding: 0 0.5em;
    background-color: #666;
    color: #CCC;

    ul.page-navigation {
        text-align: left;

        li {
            display: inline;
            list-style-type: none;
            margin-right: 0.5em;
        }

        a {
            color: #FC0;
        }
    }
}

#search {
    position: absolute;
    top: 0;
    right: 0;
    padding: 0.5em;

    label {
        font-size: 80%;
    }

    #search-field {
        width: 20em;
    }

    #search-button {
        width: 6em;
    }
}

#main {
    p.empty-month {
        text-align: center;
    }
}

#comments {
    margin-bottom: 2em;

    h3 {
        color: #000 !important;
        margin: 0.5em 0;
    }

    dl {
        dt {
            margin: 0.5em 0;
            font-size: 80%;
        }

        dd {
            margin: 0 0 1.5em;
        }
    }
}

#new-comment {
    margin-bottom: 2em;

    h3 {
        color: #000;
        margin: 0.5em 0;
    }
}

#search-result {
    padding: 1em 0;

    table {
        width: 100%;
        table-collapse: collapse;
        font-size: 80%;

        tr {
            th {
                font-weight: normal;
            }

            th.result-day {
                width: 8em;
                background-color: #EEF;
            }

            th.result-title {
                background-color: #EEF;
            }

            td {
                padding: 0 0.5em;
                background-color: #EEE;
            }
        }
    }
}
