/*
Syntax error: File to import not found or unreadable: frame.
              Load paths:
                /home/mizon/w/lupo
                /home/mizon/w/lupo/static/css
        on line 1 of static/css/diary.scss

1: @import "frame";
2: 
3: $base-color: #039;
4: $header-back: $base-color;
5: $main-back: #FFF;
6: $footer-back: #CCC;

Backtrace:
static/css/diary.scss:1
/usr/local/lib/ruby/gems/1.9.1/gems/sass-3.1.19/lib/sass/tree/import_node.rb:64:in `rescue in import'
/usr/local/lib/ruby/gems/1.9.1/gems/sass-3.1.19/lib/sass/tree/import_node.rb:42:in `import'
/usr/local/lib/ruby/gems/1.9.1/gems/sass-3.1.19/lib/sass/tree/import_node.rb:25:in `imported_file'
/usr/local/lib/ruby/gems/1.9.1/gems/sass-3.1.19/lib/sass/tree/visitors/perform.rb:149:in `rescue in visit_import'
/usr/local/lib/ruby/gems/1.9.1/gems/sass-3.1.19/lib/sass/tree/visitors/perform.rb:154:in `visit_import'
/usr/local/lib/ruby/gems/1.9.1/gems/sass-3.1.19/lib/sass/tree/visitors/base.rb:37:in `visit'
/usr/local/lib/ruby/gems/1.9.1/gems/sass-3.1.19/lib/sass/tree/visitors/perform.rb:18:in `visit'
/usr/local/lib/ruby/gems/1.9.1/gems/sass-3.1.19/lib/sass/tree/visitors/base.rb:53:in `block in visit_children'
/usr/local/lib/ruby/gems/1.9.1/gems/sass-3.1.19/lib/sass/tree/visitors/base.rb:53:in `map'
/usr/local/lib/ruby/gems/1.9.1/gems/sass-3.1.19/lib/sass/tree/visitors/base.rb:53:in `visit_children'
/usr/local/lib/ruby/gems/1.9.1/gems/sass-3.1.19/lib/sass/tree/visitors/perform.rb:27:in `block in visit_children'
/usr/local/lib/ruby/gems/1.9.1/gems/sass-3.1.19/lib/sass/tree/visitors/perform.rb:39:in `with_environment'
/usr/local/lib/ruby/gems/1.9.1/gems/sass-3.1.19/lib/sass/tree/visitors/perform.rb:26:in `visit_children'
/usr/local/lib/ruby/gems/1.9.1/gems/sass-3.1.19/lib/sass/tree/visitors/base.rb:37:in `block in visit'
/usr/local/lib/ruby/gems/1.9.1/gems/sass-3.1.19/lib/sass/tree/visitors/perform.rb:47:in `visit_root'
/usr/local/lib/ruby/gems/1.9.1/gems/sass-3.1.19/lib/sass/tree/visitors/base.rb:37:in `visit'
/usr/local/lib/ruby/gems/1.9.1/gems/sass-3.1.19/lib/sass/tree/visitors/perform.rb:18:in `visit'
/usr/local/lib/ruby/gems/1.9.1/gems/sass-3.1.19/lib/sass/tree/visitors/perform.rb:7:in `visit'
/usr/local/lib/ruby/gems/1.9.1/gems/sass-3.1.19/lib/sass/tree/root_node.rb:20:in `render'
/usr/local/lib/ruby/gems/1.9.1/gems/sass-3.1.19/lib/sass/engine.rb:300:in `_render'
/usr/local/lib/ruby/gems/1.9.1/gems/sass-3.1.19/lib/sass/engine.rb:247:in `render'
/usr/local/lib/ruby/gems/1.9.1/gems/sass-3.1.19/lib/sass/plugin/compiler.rb:340:in `update_stylesheet'
/usr/local/lib/ruby/gems/1.9.1/gems/sass-3.1.19/lib/sass/plugin/compiler.rb:202:in `block in update_stylesheets'
/usr/local/lib/ruby/gems/1.9.1/gems/sass-3.1.19/lib/sass/plugin/compiler.rb:200:in `each'
/usr/local/lib/ruby/gems/1.9.1/gems/sass-3.1.19/lib/sass/plugin/compiler.rb:200:in `update_stylesheets'
/usr/local/lib/ruby/gems/1.9.1/gems/sass-3.1.19/lib/sass/plugin/compiler.rb:298:in `block in watch'
/usr/local/lib/ruby/gems/1.9.1/gems/listen-0.4.7/lib/listen/multi_listener.rb:86:in `call'
/usr/local/lib/ruby/gems/1.9.1/gems/listen-0.4.7/lib/listen/multi_listener.rb:86:in `on_change'
/usr/local/lib/ruby/gems/1.9.1/gems/listen-0.4.7/lib/listen/multi_listener.rb:95:in `block in initialize_adapter'
/usr/local/lib/ruby/gems/1.9.1/gems/listen-0.4.7/lib/listen/adapter.rb:162:in `call'
/usr/local/lib/ruby/gems/1.9.1/gems/listen-0.4.7/lib/listen/adapter.rb:162:in `poll_changed_dirs'
/usr/local/lib/ruby/gems/1.9.1/gems/listen-0.4.7/lib/listen/adapters/linux.rb:44:in `block in start'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: File to import not found or unreadable: frame.\A               Load paths:\A                 /home/mizon/w/lupo\A                 /home/mizon/w/lupo/static/css\A         on line 1 of static/css/diary.scss\A \A 1: @import \"frame\";\A 2: \A 3: $base-color: #039;\A 4: $header-back: $base-color;\A 5: $main-back: #FFF;\A 6: $footer-back: #CCC;"; }
