@import "init";

$base-color: #039;
$header-back: $base-color;
$main-back: #FFF;
$footer-back: #CCC;
$subsection-border: solid 1px #999;

@mixin side-border($color) {
    border: solid 1px $color;
    border-width: 0px 1px;
}

body {
    background-color: #EEE;
    line-height: 1.4;
}

#container {
    @include side-border(#CCC);
}

#header {
    background-color: $header-back;
    color: #FFF;
    position: relative;

    h1 {
        padding: 0.5em;
    }

    h1 a {
        color: #FFF;
        text-decoration: none;
    }
}

#footer {
    background-color: #CCC;
}

.navigation {
    margin: 0 -1.6em;
    padding: 0 0.5em;
    background-color: #666;
    color: #CCC;

    ul.page-navigation {
        text-align: left;

        li {
            display: inline;
            list-style-type: none;
            margin-right: 0.5em;
        }

        a {
            color: #FC0;
        }
    }
}

#search {
    position: absolute;
    top: 0;
    right: 0;
    padding: 0.5em;

    label {
        font-size: 80%;
    }

    #search-field {
        width: 20em;
    }

    #search-button {
        width: 6em;
    }
}

#main {
    background-color: $main-back;
    padding: 0 1.6em;

    input.submit-button {
        width: 10em;
    }

    .day {
        background-color: #FFF;
        margin: 1em 0 3em;

        h2 {
            margin: 0 0 1em;
            padding: 0.5em 0;
            border-bottom: $subsection-border;

            a {
                color: #000;
            }
        }

        h3 {
            color: #039;
        }

        p {
            margin: 0.5em 0 1em;
        }

        p.time {
            margin-bottom: 2em;
        }
    }

    p.empty-month {
        text-align: center;
    }
}

#comments {
    margin-bottom: 2em;

    h3 {
        color: #000 !important;
        margin: 0.5em 0;
    }

    dl {
        dt {
            margin: 0.5em 0;
            font-size: 80%;
        }

        dd {
            margin: 0 0 1.5em;
        }
    }
}

#new-comment {
    margin-bottom: 2em;

    h3 {
        color: #000;
        margin: 0.5em 0;
    }

    input {
        margin-bottom: 0.5em;
    }

    input, textarea {
        width: 100%;
    }

    .submit {
        text-align: right;
    }
}

#footer {
    text-align: center;
    background-color: $footer-back;

    p {
        font-size: 80%;
        padding: 0.5em;
    }
}

#search-result {
    padding: 1em 0;

    table {
        width: 100%;
        table-collapse: collapse;
        font-size: 80%;

        tr {
            th {
                font-weight: normal;
            }

            th.result-day {
                width: 8em;
                background-color: #EEF;
            }

            th.result-title {
                background-color: #EEF;
            }

            td {
                margin: 1px;
                padding: 0 0.5em;
                background-color: #EEE;
            }
        }
    }
}
