@import "init";

#container {
    border: solid 1px #CCC;
    border-width: 0px 1px;
}

#header {
    color: #FFF;
    position: relative;

    h1 {
        padding: 0.5em;
    }

    h1 a {
        color: #FFF;
        text-decoration: none;
    }
}

#main {
    background-color: #FFF;
    padding: 0 1.6em;

    ul.notice {
        margin: 1em 0;
        padding: 0.5em;
        border: solid 1px;
    }

    ul.notice.success {
        border-color: #090;
        color: #090;
        background-color: #EFE;
        list-style-type: none;
        text-align: center;
    }

    ul.notice.error {
        border-color: #900;
        color: #900;
        background-color: #FEE;

        li {
            margin-left: 1.5em;
        }
    }
}

#footer {
    text-align: center;
    background-color: #CCC;

    p {
        font-size: 80%;
        padding: 0.5em;
    }
}

body {
    background-color: #EEE;
    line-height: 1.4;

    input.submit-button {
        width: 10em !important;
    }
}
