@import "init";

#login-form,
#init-account-form {
    width: 320px;
    margin: 1em auto;

    h2 {
        margin: 0.5em 0;
    }

    form {
        dt {
            position: absolute;
            width: 5em;
        }

        dd {
            position: relative;
            margin-left: 5em;
        }
    }
}
