* {
  margin: 0;
  padding: 0; }

#container {
  width: 720px;
  margin: 0 auto; }

h1, h2, h3, h4, h5, h6 {
  font-size: 16px; }

form dd {
  margin: 0.25em 0; }
  form dd input, form dd textarea {
    width: 100%; }
form dd.submit {
  text-align: right; }
  form dd.submit input {
    width: 10em !important; }
form dd.submit input {
  width: 10em !important; }

#login-form,
#init-account-form {
  width: 320px;
  margin: 1em auto; }
  #login-form h2,
  #init-account-form h2 {
    margin: 0.5em 0; }
  #login-form form dt,
  #init-account-form form dt {
    position: absolute;
    width: 5em; }
  #login-form form dd,
  #init-account-form form dd {
    position: relative;
    margin-left: 5em; }
    #login-form form dd input,
    #init-account-form form dd input {
      width: 100%; }
  #login-form form dd.submit,
  #init-account-form form dd.submit {
    text-align: right; }
    #login-form form dd.submit button,
    #init-account-form form dd.submit button {
      width: 10em; }
